/* 
Project Name: Skills Assessment
Client: --
Author: Selome Welday
*/

/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear {
	clear: both;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
/*********************s*********************
/* BASE STYLES                   
/*******************************************/
body {
  color: #000;
  font-size: 13px;
  line-height: 1.4;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight:300;
  position:relative;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #210E00;
}
h1{
  font-size:20px;
  font-weight:bold;
  color: #000;
}
h2 {
  font-weight: bold;
  color: #000;
}
ul {
    list-style-image: url('../images/right-arrow.jpg');
}
/******************************************
/* LAYOUT                   
/*******************************************/
.constraint {
  width: 780px;
  margin: 0 auto;
}
/*Header*/
.top-user-information {
  background: #cccccc;
  padding: 8px 0;
  font-size: 13px;
}
.top-user-name {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
  border-right: 1px solid #000;
}
.top-logout {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;  
}
.top-logout a {
  color: #000;
}
/*Branding*/
.brand-container {
  margin-top: 70px;
  border: 1px solid #ccc;
  border-bottom: 0px;
  text-align: center;
}
.logo-wrapper a{
  line-height: 0;
  display: block;
}
.brand-container .logo {
  margin-top: -54px
}
/*Navigation*/
.navigation {
  background: #000;
  color: #fff;
  margin-top: -17px;
}
.navigation a {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
}
.primary-navigation {
  display: inline-block;
  vertical-align: middle;
}
.secondary-navigation {
  display: inline-block;
  vertical-align: middle;
  float: right;  
}
.navigation {
  padding: 0 80px;
}
.navigation li {
  display: inline-block;
  vertical-align: top;
  padding: 2px 0;
}
.primary-navigation li {
  padding-right: 60px;
}
.secondary-navigation li {
  padding-left: 60px;
}
/*Section Style*/
.inner-wrapper {
  border-right:solid 1px #ccc;
  border-left:solid 1px #ccc;
  border-bottom:solid 1px #ccc;  
}
section{
  width: 69%;
  display: inline-block;
  border-right:solid 1px #ccc;
  padding: 45px 80px;
  color: #9a9a9a;
  vertical-align: top;
}
.image-container img {
  width:100%;
  margin-bottom:30px;
  border: 1px solid #7f7f7f;  
}
section p{
  margin-bottom:1em;
}
section h3{
  margin-bottom:1em;
}
.author-info {
  margin-bottom: 20px;
}
/*Side section*/
.search-form{
  position: relative;
  margin-bottom: 25px;
}
.search-form input{
  width: 100%;
  padding: 5px 10px;  
}
.search-form input[type="submit"] {
  background: url(../images/search-icon.jpg) no-repeat;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  position: relative;
  float: right;
  z-index: 9999;
  width: auto;
  margin-top: -18px;
}
aside{
  width: 30%;
  display: inline-block;
  padding:4em 2em 0 2em;
  color: #9a9a9a;
  vertical-align: top;
}
aside img{
  width:100%;
  height: 12em;
  background-color:gray;
  margin-bottom: 1em;
}
aside p{
  margin-bottom:2em;
}
aside ul{
  margin-bottom:2em;
}
/*Footer*/
footer{
  background: black;
  color: #fff;
  padding: 15px 80px;
}
.copyright {
  display: inline-block;
  vertical-align: middle;
}
.compliance {
  display: inline-block;
  float: right;
  vertical-align: middle;
}
